body{
  background: #fff;
  color: #000; 
  font-size: 16px;
  font-family: 'Black Han Sans', sans-serif;
  margin:0;
}

nav{
  display:inline;
  font-size: 1em;
  font-family: 'Black Han Sans', sans-serif;
} 

h1{
  font-family: 'Do Hyeon', sans-serif;
  color:  #41A3C0; 
  font-weight: bolder;
  font-size: 2em;
}

h2 {
  font-family: 'Chicle', cursive;
  color: #3b4563;
  font-weight: lighter;
  font-size: 1.5em;
}

p{
  color: #8e9bac;
}

a{
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #DF0174;
}

.red {
  color:red;
}


/* Mis en forme de la baseline */
#baseline{
  background-color: #2E64FE;
  background-image: url(https://i.ytimg.com/vi/fa549RILAWo/maxresdefault.jpg);
  text-align: center;
  background-size: cover;
  padding: 220px;
  color: white;
  text-shadow: 1px 1px 5px black;
}

#baseline h1 {
  color: white;
  font-size: 55px;
}

#baseline a {
  color: white;
  font-size: 45px;
  font-weight: lighter;
  text-decoration: none;
}

#welcome{
  background-color: #2E64FE;
  text-align: center;
  padding: 200px;
  color: white;
}

#welcome h4{
 font-size: 50px;
}


.feature,.defi{
  border: 1px solid #F2F2F2;
  background: #FAFAFA;
  margin: 50px;
  padding: 15px 0;
  text-align: center;
  width: 400px;
}


  #apropos {
  margin: 0 auto;
  width: 80%;
  background-color: #2E64FE;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

#defis{
  margin: 0 auto;
  width: 80%;
  background-color: #DF0174;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

nav li {
  margin: 15px;
  display:inline;
  font-size: 20px;
}

nav ul {
  float: left;
  margin-top: 25px;
}

#logo{
  font-family: 'Lobster', cursive;
  color: #DF0174;
  font-size: 45px;
  font-weight: bold;
  float: left;
  margin-left: 50px;
  text-decoration: none;
}

#baseline a:hover {
  position: relative;
  top:1px;
}