/* style.css */
body{
  background: #fff;
  color: green;
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
}
nav{
  font-size: 1em;
  font-family: 'Raleway', sans-serif;
  color: #2f7950
}
h1{
  color: red;
  font-weight: lighter;
  font-size: 10px;
}

h1#title{
  font-size: 50px;
}
h2 {
  font-family: Courier;
  color: pink;
  font-weight: lighter;
  font-size: 16px;
}
a {
  color: #0066ff;
}
a:hover {
  text-decoration: none;
  color: purple;
}
